* {
    box-sizing: border-box;
}

:root {
    --primary-color: #ff5b2e;
    --heading-color: #000958;
}

html {
    font-size: 62.5%;
    font-family: "Poppins", sans-serif;
    color: #656689;
}

body {
    font-size: 1.6rem;
    background-color: #fffaf5;
}

/* Common class */

.content {
    width: 1170px;
    max-width: calc(100% - 20px);
    margin: 0 auto;
}

.row {
    display: flex;
    justify-content: space-between;
}

.btn:active {
    scale: 0.9;
}

.btn-primary {
    margin-top: 45px;
    display: inline-block;
    padding: 20px 40px;
    border-radius: 31px;
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
    font-weight: 500;
    line-height: 1;
    text-decoration: none;
    background-color: transparent;
}

.btn-primary:hover {
    background-color: var(--primary-color);
    color: #fff;
    cursor: pointer;
}

/* Animation */
@keyframes wave {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(-5px);
    }
}

/* Header */
.header-sticky {
    background-color: #fffaf5;
    padding: 26px 0 12px;
}
.header__row {
    align-items: center;
}

.header__navbar {
    display: flex;
    gap: 36px;
}

.header__nav-item {
    font-size: 1.4rem;
    font-weight: 500;
    position: relative;
    text-decoration: none;
    display: block;
    color: #656689;
}

.header__nav-item::after {
    content: attr(title);
    font-weight: 600;
    color: var(--heading-color);
    position: absolute;
    top: 0;
    left: 0;
    white-space: nowrap;
    background-color: #fffaf5;
    z-index: -1;
}

.header__nav-item:hover::after {
    z-index: 1;
    cursor: pointer;
}

.header__btn {
    display: inline-block;
    text-decoration: none;
    color: var(--heading-color);
    min-width: 117px;
    height: 50px;
    padding: 18px 32px;
    border-radius: 25px;
    border: 1px solid var(--heading-color);
    font-size: 1.4rem;
    font-weight: 600;
    transition: 0.2s linear;
}

.header__btn:hover {
    color: #fff;
    background-color: var(--heading-color);
}

/* Hero */
.hero__row {
    padding-top: 88px;
}
.hero__text {
    width: 517px;
    padding-top: 71px;
}
.hero__heading {
    font-family: "Sora", sans-serif;
    font-size: 6.6rem;
    font-weight: 800;
    line-height: 1.15;
    color: var(--heading-color);
}

.hero__subtitle {
    width: 391px;
    font-weight: 400;
    line-height: 1.875;
    padding: 24px 0 36px;
}

.hero__btn-row {
    display: flex;
    gap: 24px;
    align-items: center;
}

.hero__btn-book {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 20px 30px;
    background-color: var(--primary-color);
    color: #fff;
    border-radius: 31px;
    text-decoration: none;
    font-weight: 600;
    line-height: 1;
    transition: box-shadow 0.5s linear, scale 0.2s linear;
}
.hero__btn-book:active {
    scale: 0.9;
    animation: none !important;
}
.hero__btn-book:hover {
    animation: wave 0.5s ease infinite alternate;
    box-shadow: 0px 13px 26px -8px var(--primary-color);
}

.hero__icon-next {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    box-shadow: 4px 3px 10px -1px #bf290066;
}

.hero__btn-call {
    color: var(--heading-color);
    text-decoration: none;
    font-weight: 500;
    line-height: 1;
}

.hero__btn-call:hover {
    text-decoration: underline;
}
.hero__images {
    position: relative;
}
.hero__images > img:first-child {
    width: 388px;
    height: 488px;
    object-fit: cover;
    border-radius: 16px;
    border: 3px solid #ffffff;
    box-shadow: 11px 18px 65px 0px #ff9b791f;
}

.hero__images > img:nth-child(2) {
    position: absolute;
    top: 302px;
    left: 365px;
    width: 186px;
    height: 244px;
    object-fit: cover;
    border: 2px solid #ffffffa6;
    box-shadow: 8px 18px 36px -6px #ea949d2b;
    border-radius: 16px;
}

.hero__decor-1 {
    position: absolute;
    top: 247px;
    left: -58px;
    z-index: -1;
}

.hero__decor-2 {
    position: absolute;
    top: 16.66px;
    left: 377px;
    z-index: -1;
}

.hero__support {
    position: absolute;
    top: 426px;
    left: 129px;
    box-shadow: -17px 14px 68px -4px #cfae8440;
    width: 250px;
    height: 156px;
    border-radius: 10px;
    background-color: #ffffff;
    padding: 18px 14px;
}

.support__item {
    display: flex;
    gap: 11px;
    align-items: center;
}

.support__img {
    width: 40px;
    height: 40px;
    border-radius: 10px;
    object-fit: cover;
}

.support__heading {
    font-family: "Sora", sans-serif;
    font-weight: 600;
    font-size: 1.4rem;
    color: var(--heading-color);
}

.support__subtitle:nth-child(2) {
    width: 118px;
    height: 4px;
    border-radius: 10px;
    background-color: var(--heading-color);
    opacity: 8%;
    margin: 7px 0 6px 0;
}

.support__subtitle:nth-child(3) {
    width: 39px;
    height: 4px;
    border-radius: 10px;
    opacity: 8%;
    background-color: var(--heading-color);
}

.hero__line {
    width: 222px;
    height: 2px;
    background-color: #f2f2f2;
    margin: 20px 0;
    border-radius: 4px;
}

/* About */
.about {
    padding: 278px 0 146px;
}

.about__text {
    width: 477px;
}

.about__subheading {
    font-family: "Sora", sans-serif;
    font-weight: 600;
    line-height: 1;
    color: #5e6085;
}

.about__heading {
    font-family: "Sora", sans-serif;
    font-size: 5.2rem;
    font-weight: 700;
    line-height: 1.18;
    color: var(--heading-color);
    padding: 15px 0 24px;
}

.about__subtitle {
    font-weight: 400;
    line-height: 1.874;
}

.about__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 54px;
    row-gap: 34px;
    column-gap: 36px;
}

.about__item {
    display: flex;
    gap: 10px;
    align-items: center;
}
.about__cert {
    font-size: 1.8rem;
    font-weight: 500;
    color: #48496a;
    white-space: nowrap;
}

.about__check {
    width: 24px;
    height: 24px;
    border-radius: 4px;
    background-color: var(--primary-color);
    box-shadow: 0px 4px 15px -3px #ff5d31b0;
    text-align: center;
    line-height: 24px;
}

.about__background {
    margin-top: 146px;
    background: linear-gradient(180deg, #fce0ef 0%, #fac3d1 100%);
    box-shadow: 11px 18px 65px 0px #ff9b791f;
    width: 494px;
    height: 336px;
    border-radius: 16px;
}

.about__images {
    position: relative;
}

.about__img {
    position: absolute;

    bottom: -51px;
    width: 450px;
    height: 602px;
    transform: scaleX(-1);
    object-fit: cover;
    object-position: 55% center;
    clip: rect(0px, 450px, 551px, 0px);
    left: 0;
    right: 0;
    margin: 0 auto;
}
.about__decor {
    position: absolute;
    top: 83px;
    left: 411px;
    z-index: -1;
}
.about__quantity {
    position: absolute;
    width: 136px;
    height: 156px;
    border-radius: 10px;
    background: #5bd6e2;
    box-shadow: -15px 26px 48px 0px #55f0ff2b;
    text-align: center;
    bottom: 238px;
    right: 447px;
}

.abt-quantity__heading {
    font-family: "Sora", sans-serif;
    font-size: 4.2rem;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    padding-top: 31px;
    display: block;
}

.abt-quantity__subtitle {
    color: #fff;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.43;
    margin: 14px auto 29px;
    width: 83px;
}

.about__paw {
    position: absolute;
    right: 447px;
    bottom: 380px;
    z-index: 1;
}

/* Vaction */

.vacation__images {
    position: relative;
    width: 458px;
    height: 500px;
    box-shadow: 0px 17px 77px -8px #bea58b2b;
    border: 2px solid #ffffff;
    background: linear-gradient(180deg, #c6e2fa 0%, #94c2ea 100%);
    border-radius: 18px;
}

.vacation__dog {
    max-width: 100%;
    min-width: 100%;
}

.vacation__decor {
    position: absolute;
}

.vacation__text {
    width: 557px;
    height: 459px;
    align-self: flex-end;
}

.vacation__heading {
    font-family: "Sora", sans-serif;
    font-size: 5.2rem;
    font-weight: 700;
    line-height: 1.2;
    color: var(--heading-color);
}

.vacation__subtitle {
    font-weight: 400;
    line-height: 1.875;
    padding: 24px 0 52px;
}

.vacation__tabs {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.vacation__tab {
    display: flex;
    align-items: center;
    gap: 12px;
}

.vacation__tab:hover {
    cursor: pointer;
}

.tab__heading {
    font-family: "Sora", sans-serif;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1;
    color: var(--heading-color);
}
.vacation__pane-wrap {
    position: relative;
    overflow: hidden;
    max-width: 391px;
    height: 140px;
}
.vacation__panes {
    position: absolute;
    left: 0;
    display: flex;
    z-index: 5;
    transition: 0.5s linear;
}

.vacation__pane {
    min-width: 391px;
    z-index: 1;
}

.pane__subtitle {
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.72;
    padding: 36px 0 32px;
}

.pane__detail {
    font-weight: 500;
    line-height: 1;
    color: var(--primary-color);
    text-decoration: none;
}

.pane__detail:hover {
    text-decoration: underline;
}

.vacation__active {
    margin-top: 10px;
    position: relative;
}

.vacation__slide {
    width: 557px;
    height: 2px;
    background-color: var(--primary-color);
    opacity: 0.07;
    border-radius: 2px;
}

.vacation__line-act {
    position: absolute;
    width: 95px;
    height: 2px;
    left: 0;
    top: 0;
    background-color: var(--primary-color);
    border-radius: 2px;
    transition: 0.5s linear;
}

/* Services */

.services {
    margin: 146px 0 130px;
    background-color: #fff6ed;
}

.services__subheading {
    font-family: "Sora", sans-serif;
    font-weight: 600;
    line-height: 1;
    text-align: center;
    padding: 68px 0 15px;
    color: #5e6085;
}

.services__heading {
    font-family: "Sora", sans-serif;
    font-size: 5.2rem;
    font-weight: 700;
    line-height: 1.2;
    text-align: center;
    color: var(--heading-color);
}

.services__main {
    padding: 71px 0 139px;
    position: relative;
}

.services__grid {
    display: grid;
    grid-template-columns: max-content max-content;
    justify-content: space-between;
    row-gap: 24px;
}

.service-item {
    background-color: #fff;
    width: 294px;
    height: 208px;
    border-radius: 10px;
    border: 2px solid #ffbc7a42;
    padding: 30px 22px 30px 28px;
}

.service-item__title {
    font-family: "Sora", sans-serif;
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 1;
    color: var(--heading-color);
    padding-left: 12px;
    position: relative;
}

.service-item__title::before {
    position: absolute;
    top: 10px;
    left: -10px;
    content: "";
    display: block;
    width: 22px;
    height: 2px;
    rotate: 90deg;
    background-image: linear-gradient(89.89deg, #ff5b2e 0.39%, #ffa187 100.29%);
    border-radius: 1px;
}

.service-item__subtitle {
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.72;
    padding: 18px 0 24px;
}

.service-item__detail {
    display: flex;
    gap: 6px;
    text-decoration: none;
}

.service-item__detail p {
    font-family: "Sora", sans-serif;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1;
    color: #34396a;
}

.service-item__detail p:hover {
    text-decoration: underline;
}

.services__center {
    position: absolute;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    bottom: 100px;
}

.services__wrap-img {
    position: relative;
    width: 410px;
    height: 350px;
    border-radius: 10px;
    background: linear-gradient(180deg, #9df1fb 0%, #73d0db 108.14%);
}

.services__img {
    position: absolute;
    bottom: 0;
    left: 0;
    max-width: 100%;
}

/* Staff */
.pet-staff {
    text-align: center;
}

.pet-staff__subheading {
    font-family: "Sora", sans-serif;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1;
    color: #5e6085;
}

.pet-staff__heading {
    font-size: 5.2rem;
    font-weight: 700;
    line-height: 1.2;
    color: var(--heading-color);
    margin: 15px 0 78px;
}

.staff__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 35px;
}

.staff__avatar {
    position: relative;
    max-width: 100%;
    border-radius: 0 0 130px 130px;
}

.staff__img {
    max-width: 234px;
    border-radius: 0 0 130px 130px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.staff__background {
    width: 234px;
    height: 266px;
    border-radius: 130px;
    margin: 0 auto;
}

.staff__decor {
    position: absolute;
    left: 0;
    bottom: 0;
}

.staff__item:nth-child(even) .staff__decor {
    top: 0;
}

.staff__position {
    margin: 34px 0 14px;
    font-size: 14px;
    line-height: 1;
}

.staff__name {
    font-family: "Sora", sans-serif;
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 1;
    color: var(--heading-color);
}

/* Pricing */

.price {
    margin: 130px 0;
    padding: 86px 0;
    background: #fff6ed;
}

.price__heading {
    font-family: "Sora", sans-serif;
    font-size: 5.2rem;
    font-weight: 700;
    line-height: 1.2;
    text-align: center;
    color: var(--heading-color);
}

.price__subtitle {
    font-weight: 400;
    line-height: 1.875;
    text-align: center;
    max-width: 709px;
    margin: auto;
}

.price__time {
    max-width: fit-content;
    height: 56px;
    border: 1px solid #ff5b2e;
    border-radius: 31px;
    margin: 38px auto 56px;
    position: relative;
}

.price__choice {
    color: var(--primary-color);
    margin: 0 40px;
    z-index: 1;
}
.price__wrap-btn {
    display: flex;
    align-items: center;
    max-width: fit-content;
    height: 56px;
    position: relative;
}

.price__wrap-btn::after {
    display: inline-block;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 56px;
    border-radius: 31px;
    background-color: var(--primary-color);
    transition: 0.2s linear;
}

.price__wrap-btn:hover {
    cursor: pointer;
}

#price__switch-check:checked + .price__wrap-btn::after {
    left: 50%;
}

#price__switch-check:checked + .price__wrap-btn .price__choice:nth-child(2),
#price__switch-check:not(:checked)
    + .price__wrap-btn
    .price__choice:nth-child(1) {
    color: #fff;
}

.price__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 44px;
}

.price__list:nth-child(2) {
    display: none;
}

.price__item {
    padding: 30px 28px 43px;
    background-color: #fff;
    border-radius: 20px;
}

.pr-item__subheading {
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1;
    color: #ff5b2e;
}

.pr-item__heading {
    font-family: "Sora", sans-serif;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1;
    color: #3f4065;
    margin: 8px 0 24px;
}

.pr-item__money {
    font-family: "Sora", sans-serif;
    font-size: 3.3rem;
    font-weight: 700;
    line-height: 1;
    color: var(--heading-color);
    display: block;
}

.pr-item__btn {
    margin: 22px 0 24px;
    width: 100%;
    text-align: center;
}

.pr-item__services {
    margin-top: -18px;
}

.pr-item__item-service {
    display: flex;
    align-items: center;
    gap: 14.2px;
    margin-top: 18px;
}

.pr-item__item-service::before {
    content: url(../image/price__marker.svg);
}

.pr-item__item-service.unsupport::before {
    content: url(../image/price__dis-marker.svg);
}

.price__discount {
    display: none;
}

#price__switch-check:checked ~ .price__discount {
    display: block;
    position: absolute;
    right: -111px;
    bottom: 29px;
}
